.idea/
.vscode/
.github/

config/
.dockerignore
renovate.json

.gitignore
.git
.env
.env.*
agent/.env
agent/.env.*

node_modules
agent/node_modules
.output
.tanstack

dist
agent/dist

.DS_Store
Thumbs.db
